:root {
  --color-outer: #faf9f7;
  --color-bg: #ffffff;
  --color-title: #7896b3;
  /* --color-divider: #e0d6cc; */

  --background-secondary-color: #ddeaf5;

  --font-display: 'Cormorant Garamond', serif;
  --font-serif: 'Noto Serif KR', serif, sans-serif;
  --font-title: 'Golden Plains Demo', serif;

  --font-primary-color: #3a3028;
  --font-secondary-color: #8c7b6e;

  --space-gap: 1.25rem;
  
}
